@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
.cg-hero-background{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: url(../img/bg.jpg) no-repeat;
  color:#fff;
  background-size: cover;
}
.img-1{
position: relative;
overflow: hidden;
max-width: 100%;
display: block;
}
.img-1 img{
    width: 5rem;
    padding-bottom: 2rem;
}
.text-1 p{
color: #525252;
font-family: 'Lato', sans-serif;
font-size: 2.5em;
font-weight: 700;
}

.text-2{
    color: #878787;
    font-family: 'Poppins', sans-serif;
    line-height: 1.9;
    font-size: 1rem;
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 485px;
  padding: 66px 60px;
  max-width: 100%;
  background-color: rgba(255,255,255,0.973);
  box-shadow: 0rem 1.75rem 3.125rem 1.25rem rgba(0,0,0,0.51);
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.inner{
  max-width: 100%;
  width: 20rem;
  margin-top: 1.;
  margin-bottom: 1.5rem;
  }
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color: #9baf4e;
}

.form-control:focus{
  border-color: #9baf4e;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.btn-custom{
  background-color: #9baf4e;
  color:#fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-height: 48px;
}
.btn-custom:hover{
  color: #ffffff;
}

.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

@media only screen and (max-width: 550px){
  .login-form{
    width: 395px;
    padding: 34px 60px;
  }
}

@media only screen and (max-width: 480px){
  .login-form{
    width: 364px;
    padding: 16px 60px;
  }
  .text-1{
    font-size: 30px;

  }
  .text-2{
    font-size: 1em;
    padding-bottom: 0.5rem;
  }
}
